body {
    background-color: rgba(138, 177, 177, 0.623);
    font-size: 1.5em;
    font-family: sans-serif;
}

form {
    margin-left: 20px;
}

.btn{
    border: 1px solid white;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    text-transform:lowercase ;
    font-weight:700 ;
}

.btn:hover{
    color: white;
    background-color: rgb(31, 238, 238);
    border: 1px solid rgb(31, 238, 238) ;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    text-transform:lowercase ;
    font-weight:700 ;
}